#reset {
    text-align: center;
}
body {
    text-align: center;
}
.btn {
    width: 100px;
    height: 100px;
    cursor: pointer;
    background: var(--color);
    border-radius: 50%;
    border: none;
    margin: 50px 10px 0 0;
    box-shadow: 0 0 8px black;
}
.btn-1 {--color:#FF6F61;}
.btn-2 {--color:#a8eb12;}
.btn-3 {--color:#0072B5;}
.btn-4 {--color:orange;}
.btn-5 {--color:#E15D44;}
.btn-6 {--color:#32ccbc;}
.btn-7 {--color:rgb(255, 0, 255);}
.btn-8 {--color:rgb(103, 233, 109);}

 